<div class="card" fxLayout="column" fxLayoutAlign="space-around" fxLayoutAlign.lt-md="space-around center">
  <h3 style="font-weight: 300">Check out some of my music on SoundCloud!</h3>
  <div fxLayout="row wrap" fxFlexAlign="space-around stretch" fxLayoutAlign="space-around center" fxLayoutAlign.lt-md="center center">
    <iframe fxFlex="40" fxFlex.lt-md="80" class="soundcloud" scrolling="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/362613926&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    <iframe fxFlex="40" fxFlex.lt-md="80" class="soundcloud" scrolling="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/297976851&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
  </div>
</div>