.soundcloud {
  border-radius: 5px;
  border: 0px;
  margin: 10px 0px;
}

mat-card {
  /* background-color: rgba(0, 0, 0, 0.432); */
}

.card {
  border: 1px solid rgba(194, 194, 194, 0.151);
  border-radius: 3px;
  padding: 10px;
}