.dock {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.568);
  margin: 20px;
  height: 15vh;
  padding: 25px;
}

.dock-mobile {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.568);
  margin: 20px;
  height: 14vh;
  padding: 25px;
}

a {
  color: rgba(255, 255, 255, 0.801);
  text-decoration: none;
}

.icon {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.801);
  border-radius: 15px;
  height: 9vh;
  width: 9vh;
}

.icon-mobile {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.801);
  border-radius: 15px;
  height: 8vh;
  width: 8vh;
}

.icon:hover {
  cursor: pointer;
}

.icon-mobile:hover {
  cursor: pointer;
}

.music {
  background-color: rgba(235, 147, 65, .9);
}

.resume {
  background-color: rgba(65, 125, 235, .9);
  margin-left: 25px;
}

.settings {
  background-color: rgba(136, 136, 136, .9);
  margin-left: 25px;
}